@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #105415;
  --blue: #08085e;
  --yellow: #b3ae14;
  --orange: #b36b14;
  --black: #151515;
  --blacklight: #2d2d2d;
  --blackopac: #151515f5;
  --blackopac2: #15151560;
  --pureblack: #000000;
  --white: #ffffff;
  --whiteBG: #f5f5f7;
  --whiteBGDarker: #e7e7e7e7;
  --whiteopac: #ffffff2f;
  --whiteopac2: #ffffff10;
  --whiteopac3: #ffffff05;
  --titan: #cecdcd;
  --cream: #ede7d1;
  --red: #371211;
  --vividred: #b31414;
  --gold: #d4af37;
  --rolexgold: #a37e2c;
}

body {
  color: var(--white);
  background: var(--black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Customize the appearance of the default focus ring (outline) */
input[type='radio']:focus {
  @apply ring-2 ring-red; /* Apply a red focus ring */
}
input[type='checkbox']:focus {
  @apply ring-2 ring-white; /* Apply a red focus ring */
}

input[type='radio'] {
  color: var(--red);
}

input[type='checkbox'] {
  color: var(--cream);
}
input[type='checkbox']:checked {
  color: var(--whiteopac);
}

/* Hide the spinner (arrows) in number input fields */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
input[type='number']:focus {
  @apply ring-0 ring-red rounded;
}
input[type='text']::-webkit-outer-spin-button,
input[type='text']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='text'] {
  -moz-appearance: textfield; /* Firefox */
}

input[type='text']:focus {
  @apply ring-0 ring-red rounded;
}
