.fullScreenContainer {
  width: 100vw; /* Set width to full viewport width */
  height: 100vh; /* Set height to full viewport height */
  overflow: auto; /* Enable scrolling if image exceeds viewport dimensions */
}

.fullScreenImage {
  width: 100%; /* Set image width to container width */
  height: auto; /* Allow image to adjust its height proportionally */
}